<div id="header">
  <h1>Colorado Code Retreat</h1>
  <div>Promoting software craftsmanship in Colorado through frequent Code Retreats</div>
</div>

<ul id="info" >
  <li>Want to start 2012 with a day practising software craftsmanship? </li>
  <li>Then you should be at this event!</li>
</ul>
<h2>Code retreat Denver Jan 2012</h2>
<ul id="smallinfo" >
  <li>40 passionate developers spending the day honing their skills.</li>
  <li>The event will be facilitated by <%= link_to "Charley Baker", "https://twitter.com/#!/charley_baker" %>.</li>
  <li>Structure of the day will be as detailed <%= link_to "here", "http://coderetreat.com/facilitation.html" %> by <%= link_to "Corey Haines", "https://twitter.com/#!/coreyhaines" %>.</li>
  <li><%= link_to "Venkat Subramaniam", "https://twitter.com/#!/venkat_s" %> will be a participant at this code retreat.</li>
  <li>Venkat is the author of <%= link_to "Programming Scala: Tackle Multi-Core Complexity on the Java Virtual Machine", "http://pragprog.com/book/vsscala/programming-scala" %> and <%= link_to "four other books", "http://www.agiledeveloper.com/" %>.</li>
  <li>Venkat will be pairing with other programmers and sharing from his wealth of experience as an agile developer and trainer.</li>
</ul>
<h2>Details of the event</h2>
<ul>
  <li><b>When? :</b> On Saturday January 21, 2012</li>
  <li><b>Where? :</b> At Uncubed Co-working space in Denver, CO</li>
  <li><b>How much? :</b> It's free for the participants</li>
  <li><b>Where do I sign up? :</b> Go to <%= link_to "this page", "http://denvercoderetreat.eventbrite.com/" %> and sign up.</li>


<h2>Lunch, Breakfast & Coffee Sponsors</h2>
<div class="body">
  <div class="logo">
    <%= link_to image_tag( "logos/sendgrid.jpeg" ), "http://sendgrid.com" %><br />
    <%= link_to "SendGrid", "http://sendgrid.com" %>
  </div>
  <div class="logo">
    <%= link_to image_tag( "logos/groupon-.png" ), "https://twitter.com/#!/grouponeng" %><br />
    <%= link_to "Groupon Engineering", "https://twitter.com/#!/grouponeng" %>
  </div>
</div>

<h2>Location Sponsor</h2>

<div class="body">
  <div class="logo">
    <%= link_to image_tag( "logos/uncubed.png" ), "http://uncubedspace.com" %><br />
    <%= link_to "Uncubed Space", "http://uncubedspace.com" %>
  </div>
</div>

