<h1>Colorado Code Retreat</h1>
<div class="label">
Promoting software craftsmanship in Colorado by organizing regular Code Retreats 
</div>
  <%= link_to "What is a Code Retreat?", "http://coderetreat.com/" %>
  <br/>
  <%= link_to "December 3, 2011 - First Global Day of Code Retreat", "http://coderetreat.org/" %>
<h2>Global Day of Code Retreat - Colorado Events on Dec 3rd, 2011:</h2>
<ul>
  <li><%= link_to "Boulder", "http://global-coderetreat-boulder.eventbrite.com/" %> : 30 / 30 registrations. SOLD OUT</li> 
  <li><%= link_to "Colorado Springs", "http://cospringsdec11.eventbrite.com/" %> : 15 / 20 registrations. SIGN UP NOW</li> 
  <li><%= link_to "Denver", "http://www.eventbrite.com/event/2242350932/" %> : 30 / 30 registrations. SOLD OUT</li> 
  <li><%= link_to "Fort Collins", "http://fortcollinsgdcr11.eventbrite.com/" %> : 14 / 20 registrations. SIGN UP NOW</li> 
</ul>

<h2>Location Sponsors</h2>
<div>
<div class="logo">
  <%= link_to image_tag( "logos/uncubed.png" ), "http://uncubedspace.com" %><br />
  <%= link_to "Uncubed Space", "http://uncubedspace.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/cohere-logo2.png" ), "http://coherecommunity.com" %><br />
  <%= link_to "Cohere Coworking", "http://coherecommnunity.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/livingsocial-logo.png" ), "http://livingsocial.com/" %><br />
  <%= link_to "LivingSocial", "http://livingsocial.com/" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/enclavecooplogo.jpg" ), "http://enclavecoop.com" %><br />
  <%= link_to "The Enclave", "http://enclavecoop.com" %>
</div>
</div>
<h2>Event Sponsors</h2>
<div>
<div class="logo">
  <%= link_to image_tag( "logos/ready_talk_logo.png" ), "http://readytalk.com" %><br />
  <%= link_to "Ready Talk", "http://readytalk.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/pragmaticstudio.png" ), "http://pragmaticstudio.com" %><br />
  <%= link_to "Pragmatic Studios", "http://pragmaticstudio.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/quickleft.png" ), "http://quickleft.com" %><br />
  <%= link_to "Quick Left", "http://quickleft.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/coshx_labs.png" ), "http://coshx.com/" %><br />
  <%= link_to "Coshx Labs", "http://coshx.com/" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/pivotal_tracker.png" ), "http://pivotaltracker.com" %><br />
  <%= link_to "Pivotal Tracker", "http://pivotaltracker.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/sendgrid.jpeg" ), "http://sendgrid.com" %><br />
  <%= link_to "SendGrid", "http://sendgrid.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/bittheory.png" ), "http://bittheory.com" %><br />
  <%= link_to "BIT Theory", "http://bittheory.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/fullcontact.png" ), "http://fullcontact.com" %><br />
  <%= link_to "Full Contact", "http://fullcontact.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/TEK-square.jpg" ), "http://teksystems.com" %><br />
  <%= link_to "TEK Systems", "http://teksystems.com" %>
</div>
</div>
<hr/>
<div>
  <%= link_to "Source code", "https://github.com/prakashmurthy/coloradocoderetreat.com" %>
  <%= link_to "Contact us", "mailto:prakash.n.murthy@gmail.com" %>
</div>
