<div id="header">
  <h1>Colorado Code Retreat</h1>
  <div>Promoting software craftsmanship in Colorado through frequent Code Retreats</div>
</div>

<ul id="info" class="body">
  <li><%= link_to "What is a Code Retreat?", "http://coderetreat.com/" %></li>
</ul>

<h2>Next event</h2>
<ul id="info" class="body">
  <li><%= link_to "Code Retreat Denver, Sat Jun 23, 2012", "http://www.eventbrite.com/event/3734187054" %></li>
  <!-- li>We are planning to host one Code Retreat every other month in the Front Range area. Check back in a few days for specifics of the upcoming events.</li-->
</ul>

<h2>Past events</h2>
<ul id="info" class="body">
  <li><%= link_to "Code Retreat Boulder, Sat Mar 31, 2012", "http://coloradocoderetreat.ticketbud.com/bouldermar2012" %></li>
  <li><%= link_to "Code Retreat Denver, January 21, 2012", :action => "denver21jan2012" %></li>
  <li><%= link_to "December 3, 2011 - First Global Day of Code Retreat", :action => "gdcr11" %></li>
  <li><%= link_to "Code Retreat Colorado Springs Sep 2011", "https://prakash.eventwax.com/code-retreat-colorado-springs-sep-2011" %></li>
  <li><%= link_to "Mini Code Retreat at the Rocky Mtn Ruby Conf", "http://minicoderetreat.eventbrite.com/" %></li>
  <li><%= link_to "NoCo Code Retreat in Fort Collins, Jun 2011", "https://nococoderetreat.eventwax.com/noco-code-retreat" %></li>
  <li><%= link_to "Code Retreat Boulder Feb 2011", "http://prakash.eventwax.com/code-retreat-boulder" %></li>
</ul>
