<h1>Colorado Code Retreat</h1>

<h2>Sponsors</h2>

<div class="logo">
  <%= link_to image_tag( "logos/bittheory.png" ), "http://bittheory.com" %><br />
  <%= link_to "Bit Theory", "http://bittheory.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/coshx_labs.png" ), "http://coshx.com/" %><br />
  <%= link_to "Coshx Labs", "http://coshx.com/" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/fullcontact.png" ), "http://fullcontact.com" %><br />
  <%= link_to "Full Contact", "http://fullcontact.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/pivotal_tracker.png" ), "http://pivotaltracker.com" %><br />
  <%= link_to "Pivotal Tracker", "http://pivotaltracker.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/pragmaticstudio.png" ), "http://pragmaticstudio.com" %><br />
  <%= link_to "Pragmatic Studios", "http://pragmaticstudio.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/quickleft.png" ), "http://quickleft.com" %><br />
  <%= link_to "Quick Left", "http://quickleft.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/ready_talk_logo.png" ), "http://readytalk.com" %><br />
  <%= link_to "Ready Talk", "http://readytalk.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/sendgrid.png" ), "http://sendgrid.com" %><br />
  <%= link_to "Send Grid", "http://sendgrid.com" %>
</div>
<div class="logo">
  <%= link_to image_tag( "logos/TEK-square.jpg" ), "http://teksystems.com" %><br />
  <%= link_to "TEK Systems", "http://teksystems.com" %>
</div>
